name: publishing

on:
  push:
    tags: [ 'v*' ]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2
        with: { fetch-depth: 0 }
      - uses: actions/setup-go@v6.3.0
        with: { go-version: 1.22.x, cache: true }

      - run: make env deps-fetch test
      - uses: goreleaser/goreleaser-action@v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist

  notify:
    needs: [ release ]
    if: failure() || success()
    runs-on: ubuntu-latest

    steps:
      - uses: rtCamp/action-slack-notify@v2.3.3
        env:
          SLACK_COLOR: ${{ contains(needs.*.result, 'failure') && 'failure' || 'success' }}
          SLACK_ICON: https://github.com/github.png?size=64
          SLACK_TITLE: '${{ github.repository }}: ${{ github.workflow }}'
          SLACK_USERNAME: GitHub Actions
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
